<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.thecreators.android.opdplus">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".PatientLoginActivity"
            android:label="OPD PLUS">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".PatientRegisterActivity"
            android:label="REGISTER">
        </activity>
        <activity
            android:name=".HomePageActivity"
            android:label="HOME">
        </activity>
        <activity
            android:name=".PatientHistoryActivity"
            android:label="HISTORY">
        </activity>
        <activity
            android:name=".DoctorInfoActivity"
            android:label="DOCTORS">
        </activity>
        <activity
            android:name=".MakeAppointmentActivity"
            android:label="BOOK APPOINTMENT">
        </activity>
        <activity
            android:name=".MyAppointmentsActivity"
            android:label="TRACK APPOINTMENT">
        </activity>
        <activity android:name=".TrackingActivity">
        </activity>
    </application>

</manifest>